@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
}
/*Mobile screen and tablet potrait screen*/
@media screen and (min-width: 100px) and (max-width: 768px){
    .background, #pink-line, .bigscreen-content {display: none;}
    details summary::-webkit-details-marker {display:none;}
    body {background-color: #F7BAAE;}
    .hamburger-icon {cursor: pointer;}
    #mini-logo {
        position: absolute;
        height: 7rem;
        margin-left: 35vw;
    }
   .hamburger-icon {
       position: absolute; 
       margin-top: 15px;
       margin-left: 80%;
       font-size: 3rem;
       color: white;  
    }
    .first-nav { 
        background-color: #FFCB78;
        height: 950px;
        text-align: center;
        padding: 50px;  
    }.first-nav li {
        margin-top: 10vh;
        line-height: 10px; 
    }
    .first-nav a {
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        color: white; 
    }
    #orange-can {
        position: absolute;
        height: 200px;
        margin-top: 110px;
        margin-left: 80px;  
    }
    main {font-family: 'Oswald', sans-serif;}

    h1 {
        position: absolute;
        margin-top: 44vh;
        margin-left: 20vw;
        font-size: 2.5rem;
        color: white;  
    }
    h2 {
        position: absolute;
        margin-top: 50vh;
        margin-left: 25vw;
        font-size: 2.2rem;
        color: #FFCB78; 
    }
    .copyright {
        position: absolute;
        margin-top: 130vh;
        margin-left: 10vw;
        color: white;
    }
    .mobile-background {
       height: 1090px;
       width: 100%; 
   }
    section {
       position: absolute;
       font-family: 'Oswald', sans-serif;
       margin-top: 60vh;
       margin-left: 5vw;
       font-size: 1.2rem;
       color: white;
       text-align: center;
    }
    .artiesten {
       margin-top: 60vh;
       margin-left: 30vw;
    }
    .evenementen {
       margin-top: 80vh;
       margin-left: 25vw;
    }
    .aanbiedingen {
       margin-top: 100vh;
       margin-left: 25vw;
}
h3 {color: #FFCB78;}
}

/*Big screen and tablet landscape screen*/
@media screen and (min-width: 768.1px){
    body {    overflow: hidden; /* Hide scrollbars */}
    .mobile-background, .mobile-content, .hamburger-icon2{display: none;}
    #mini-logo {
    position: absolute;
    height: 100px;
}
.first-nav{position: absolute;}
.first-nav {
    margin-top: 3vh;
    font-size: medium;
}
.first-nav li {
    display: inline;
    margin-left: 5vw;
    padding: 20px;
}
.first-nav a{
    font-size: larger;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.first-nav a:hover{color: #F38581;}

article {
    position: absolute;
    margin-top: 15vh;
    margin-left: 5vw;
}
h1 {
    margin-top: 0vh;
    font-size: 7rem;
    font-family: 'Oswald', sans-serif;
    color: white;
}
h2 {
    margin-top: -6vh;
    text-align: center;
    font-size: 5.5rem;
    font-family: 'Oswald', sans-serif;
    color: #FFCB78;
}
h3 {
    margin-top: 0vh;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    color: white;
}
article h1{color: white;}
    article h2 {  color: #FFCB78;}
h1, h2, h3:hover {color: #F38581;}
#orange-can {
    position: absolute;
    margin-top: 8vh;
    margin-left: 60vw;
    height: 400px;
}
.background {
    height: 113vh;
    margin-top: -99px;
}
p {
    position: absolute;
    margin-top: 97vh;
    margin-left: 40%;
    color: white;
}
#pink-line {
    display: none;
}
body {
    background-color: #F7BAAE;
}
section{
    position: absolute;
    font-family: 'Oswald', sans-serif;
    margin-top: 60vh;
    margin-left: 5vw;
    font-size: 1.7rem;
    color: white;
    
}
.evenementen {
    margin-left: 30vw;
}
.aanbiedingen {
    margin-left: 60vw;
}
}
