@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    background: rgb(251,213,137);
    background: linear-gradient(180deg, rgba(251,213,137,1) 0%, rgba(243,133,129,1) 100%);
    height: 100vh;
}


/*mobile */
@media screen and (min-width: 100px) and (max-width:768px){

    .bigscreen-nav, .website-background{display: none;}
    details summary::-webkit-details-marker {display:none;}
    .hamburger-icon {cursor: pointer;}
    .mobile-background {
        height: 88vh;
        width: 100%;
    }
   header {
       position: absolute;
       display: flex;
       justify-content: center;
       width: 100%;
       height: 100px;
       z-index: 1;
   }
   summary {
       display: flex;
       margin-top: 2vh;
       margin-left: 80vw;
       border: 1px solid white;
       font-size: 3rem;
       color: white;
   }
    .mobile-nav {
        display: flex;
        justify-content: center;
        margin-top: 2.5vh;
        text-align: center;
        height: 81vh;
        font-family: 'Montserrat', sans-serif;
        background-color: #FBD889;
    } .mobile-nav ul {
        margin-top: -1vh;
        line-height: 10vh;
    }
   .mobile-nav a{ color: white;}
   .mobile-nav a:hover{ font-size: 1.2rem; color: #F38581;;}

    .title-image-container  h1{
        position: absolute;
        display: flex;
        justify-content: center;
        margin-top: 5vh;
        font-size: 1.5rem;
        font-family: 'Montserrat', sans-serif;
        color: white;
        height: 50vh;
        width: 100vw;
    }
    .copyright{
        position: absolute;
        margin-top: 85vh;
        margin-left: 10vw;
        font-family: 'Montserrat', sans-serif;
        font-size: .8rem;
        color: #F38581;
    }  
    #images {
      display: none;
  }
  .mobile-images {
      position: absolute;
      height: 70vh;
      width: 80vw;
      margin-top: 12vh;
      margin-left: 10vw;
  }
  .info {display: none;}
  .mobile-info {
      height: 70vh;
      width: 80vw;
  }
}
/*Big screen and tablet landscape screen*/
@media screen and (min-width: 769px){
   .mobile-nav, .mobile-background, summary, .copyright, second-text{display: none;}
   .logo {
       position: absolute;
       height: 100px;
   }
   .bigscreen-nav {
       position: absolute;
        display: flex;
        justify-content: center;
        align-content: space-around;
        width: 100vw;
        z-index: 1;
        margin-top: 3vh;
   }
   .bigscreen-nav li{
    display: inline;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
   }
  .bigscreen-nav a {
    color: white;
    padding: 40px;
  }
  .bigscreen-nav a:hover {color: #F38581;}
/*Niet boven coderen! Beneden hier en Gebruik [ position: absolute ] als je bijv: h1 toevoegt*/

  .title-image-container h1,h2 {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 50vh;
    width: 100vw;
  }
  .title-image-container h2 {
      margin-top: 20vh;
      font-size: 1.5rem;
  }
#images {
      position: absolute;
      margin-top: 20vh;
    width: 100%;
    height: 80%;
    margin-left: 15vw;
    background-repeat: no-repeat;
}
.info {
    position: absolute;
    height: 60vh;
    margin-top: 20vh;
    margin-left: 70vw;
}
.mobile-images {display: none;}
}
  